body
{
  background-color: $backgroundColor_general;
}
.cardatosContacto
{
   background-color:$backgroundColor_general; 
}
.imgFooter
{ 
  &:hover
  {
    filter:invert(1);
  }
}

.btn 
{
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #0e0b0b;
  border-radius: 0.3em;
  color: #0c0c0c;
  cursor: pointer;
  
  align-self: center;
  font-size: 1rem;
  width:140px;height:28px;  
  line-height: 1;
  margin: 11px;  
  text-decoration: none;
  text-align: center;  
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;    
  font-weight: 700;
  &:hover, &:focus 
  {
    color: #fff;
    outline: 0;
  }
}
.ulMargin{
  margin-left: 0em!important;
}
a:hover{ font-weight:bold; color:black;}

$tipoInputs: ( /*Mapa para inputs de pagina contacto.html*/
        "input": white,
        "select":  white        
); 

@each $tipoInput,$color in $tipoInputs {
  /*bucle para usar los valores del mapa y crear las clases*/
   #{$tipoInput}:hover
   {
        background-color: $backgrounColor_input_btn;
        color: $color;
        font-weight: bold;     
   }
}

.txtAreaChange:hover
{
  @extend input:hover;
  border-color:black;
  box-shadow: 0 1.5px 1.5px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255,255,255,1);
  outline: 0 none;  
}

.first 
{
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover 
  {
    box-shadow: 0 0 40px 40px #6d6c6c inset;
  }
}
h2{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.2;
  @include mobile_s
  {
    font-size: 2.5rem;
  }
  @include mobile_m
  {
    font-size: 2.5rem;
  }
  @include mobile_l
  {
    font-size: 3rem;
  }
  @include tablet
  {
    font-size: 3.5rem;
  }
}
h3{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;  
  @include mobile_s
  {
    font-size: 1.5rem;
  }
  @include mobile_m
  {
    font-size: 1.75rem;
  }
  @include mobile_l
  {
    font-size: 2rem;
  }
  @include tablet
  {
    font-size: 2.25rem;
  }
}

.parTextos
{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5rem;
  @include mobile_s
  {
    font-size: 1.25rem;
  }
  @include mobile_m
  {
    font-size: 1.35rem;
  }
  @include mobile_l
  {
    font-size: 1.45rem;
  }
  @include tablet
  {
    font-size: 1.5rem;
  } 
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.carousel-servicios-imagen {
  overflow: hidden
}
.h1Pages{
  position: absolute;   
  color:white;
  font-family: 'Barlow Condensed', sans-serif;          
  animation-duration: 5s;
  animation-name: aparecer;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */    
  @include mobile_s
  {
    margin-top: 55%;       
    font-size: 1.2rem;       
  }
  @include mobile_m
  {
    margin-top: 55%;       
    font-size: 1.4rem;       
  }
  @include mobile_l
  {
    margin-top: 55%;       
    font-size: 1.6rem;       
  }
  @include tablet
  {
    margin-top: 58%;       
    font-size: 1.8rem;       
  }
  @include laptop
  {
    margin-top: 70vh;       
    font-size: 3rem;       
  }
  
}

.ocultarParrafoMobile
{
   display:block;
   @include tabletParaAbajo
   {
      display: none;
   } 
}
.ocultarParrafoDesktop
{
  display:block;
  @include tabletParaArriba
  {
     display: none;
  } 
}

.marginServiciosUbicacion
{
  @include tabletParaAbajo
    {
        margin-top: 0vh!important;   
        
    }
}

.paddingCarrouselServicios
{
  @include tabletParaAbajo
  { 
      padding: 1.5rem!important;           
  }
}

.textCarrousel{
  position: absolute;   
  color:white;
  font-family: 'Barlow Condensed', sans-serif;              
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */    
  align-content: center;
  animation-duration: 5s;
  animation-name: aparecer;
  @include mobile_s
  {
    margin-top: 2vh;       
    font-size: 1.5rem;       
  }
  @include mobile_m
  {
    margin-top: 2vh;       
    font-size: 1.8rem;       
  }
  @include mobile_l
  {
    margin-top: 2vh;       
    font-size: 2rem;       
  }
  @include tablet
  {
    margin-top: 3vh;       
    font-size: 2.5rem;       
  }
  @include laptop
  {
    margin-top: 8vh;       
    font-size: 3rem;       
    
  }
  
}


.serviciosTeEsperamos{   
  
  @include mobile_s
  {
  
    margin-top: 2vh;              
  }
  @include mobile_m
  {
    margin-top: 2vh;           
  }
  @include mobile_l
  {
    margin-top: 2vh;             
  }
  @include tablet
  {
    margin-top: 58%;             
  }
  @include laptop
  {
    margin-top: 58vh;          
  }
}
.textosFooter
{
  font-family: 'Barlow Condensed', sans-serif;  
  text-decoration: none;
  color:black;
  @include mobile_s
  {
    font-size: 1.15rem;
  }
  @include mobile_m
  {
    font-size: 1.2rem;
  }
  @include mobile_l
  {
    font-size: 1.25rem;
  }
  @include tablet
  {
    font-size: 1.3rem;
  } 
  @include laptop
  {
    font-size: 1.30rem;
  }
  :hover
  {
    color: white;
  }
}

.datosContacto
{
  font-family: 'Barlow Condensed', sans-serif;    
  color:black;
  @include mobile_s
  {
    font-size: 1.15rem;
  }
  @include mobile_m
  {
    font-size: 1.2rem;
  }
  @include mobile_l
  {
    font-size: 1.25rem;
  }
  @include tablet
  {
    font-size: 1.3rem;
  } 
  @include laptop
  {
    font-size: 1.30rem;
  }
  :hover
  {
    color: white;
  }
}
/*-------Animación de aparecer para el h1 de index.html*/
@keyframes aparecer
{
  0% {opacity:0;}
  100% {opacity:1;}
}

