@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200&family=Montserrat:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------Comienzo de Media Queries-----------------------------------------------------------------------*/
@media only screen and (min-width: 320px) and (max-width: 374px) {
  .imgFooter {
    width: 60px;
    padding: 1rem;
  }
  .textoIndexFoto {
    position: relative;
    /* top: 4%;  */
  }
  h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 375px) and (max-width: 424px) {
  .imgFooter {
    width: 60px;
    padding: 1rem;
  }
  .textoIndexFoto {
    position: relative;
    top: 4%;
  }
  /* 
  .h1Pages{
    position: absolute;
    margin-top: 60%;
    color:white;
    font-family: 'Barlow Condensed', sans-serif;          
    font-size: 1rem;          

    animation-duration: 5s;
    animation-name: aparecer;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
  }*/
  h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 425px) and (max-width: 767px) {
  .imgFooter {
    width: 60px;
    padding: 1rem;
  }
  .textoIndexFoto {
    position: relative;
    top: 4%;
  }
  /*
  .h1Pages{
    position: absolute;
    margin-top: 60%;
    color:white;
    font-family: 'Barlow Condensed', sans-serif;         
    font-size: 1.2rem;          

    animation-duration: 5s;
    animation-name: aparecer;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; 
      }*/
  h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .imgFooter {
    width: 60px;
    padding: 1rem;
  }
  .textoIndexFoto {
    position: relative;
    top: 4%;
  }
  /*
         .h1Pages{
          position: absolute;
           margin-top: 58vh;
           color:white;
           font-family: 'Barlow Condensed', sans-serif;           
           font-size: 1.7rem;          
   
           animation-duration: 5s;
           animation-name: aparecer;
           background: rgb(0, 0, 0); 
           background: rgba(0, 0, 0, 0.5);
           color: #f1f1f1; 
             }*/
  h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.9rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 1024px) {
  .imagen {
    -o-object-fit: cover;
       object-fit: cover;
    /*cover*/
    width: 100vw;
    height: 80vh;
    vertical-align: text-bottom;
  }
  .imgFooter {
    width: 70px;
    padding: 1rem;
  }
  .textoIndexFoto {
    position: relative;
    top: 4%;
  }
  /*
  .h1Pages{
    position: absolute;
    margin-top: 70vh;
    color:white;
    font-family: 'Barlow Condensed', sans-serif;          
    font-size: 3rem;          

    animation-duration: 5s;
    animation-name: aparecer;

    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
      }*/
  h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

body {
  background-color: #bacab1;
}

.cardatosContacto {
  background-color: #bacab1;
}

.imgFooter {
  padding: 1rem;
}

.imgFooter:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #0e0b0b;
  border-radius: 0.3em;
  color: #0c0c0c;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 0.7rem;
  width: 140px;
  height: 25px;
  font-weight: 400;
  line-height: 1;
  margin: 11px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}

.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}

.ulMargin {
  margin-left: 0em !important;
}

a:hover {
  font-weight: bold;
  color: black;
}

/*bucle para usar los valores del mapa y crear las clases*/
input:hover, .txtAreaChange:hover {
  background-color: #6d6c6c;
  color: white;
  font-weight: bold;
}

/*bucle para usar los valores del mapa y crear las clases*/
select:hover {
  background-color: #6d6c6c;
  color: white;
  font-weight: bold;
}

.txtAreaChange:hover {
  border-color: black;
  -webkit-box-shadow: 0 1.5px 1.5px rgba(229, 103, 23, 0.075) inset, 0 0 8px white;
          box-shadow: 0 1.5px 1.5px rgba(229, 103, 23, 0.075) inset, 0 0 8px white;
  outline: 0 none;
}

.first {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  -webkit-transition: color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
}

.first:hover {
  -webkit-box-shadow: 0 0 40px 40px #6d6c6c inset;
          box-shadow: 0 0 40px 40px #6d6c6c inset;
}

h2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.2;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  h2 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
  h2 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  h2 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h2 {
    font-size: 3.5rem;
  }
}

h3 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
  h3 {
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  h3 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h3 {
    font-size: 2.25rem;
  }
}

.parTextos {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5rem;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .parTextos {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
  .parTextos {
    font-size: 1.35rem;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .parTextos {
    font-size: 1.45rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .parTextos {
    font-size: 1.5rem;
  }
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.carousel-servicios-imagen {
  overflow: hidden;
}

.h1Pages {
  position: absolute;
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  background: black;
  /* Fallback color */
  background: rgba(0, 0, 0, 0.5);
  /* Black background with 0.5 opacity */
  color: #f1f1f1;
  /* Grey text */
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .h1Pages {
    margin-top: 55%;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
  .h1Pages {
    margin-top: 60%;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .h1Pages {
    margin-top: 60%;
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .h1Pages {
    margin-top: 58%;
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 1024px) {
  .h1Pages {
    margin-top: 70vh;
    font-size: 3rem;
  }
}

/*-------Animación de aparecer para el h1 de index.html*/
@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Prueba ejemplo galeria*/
.row {
  display: -ms-flexbox;
  /* IE10 */
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%;
  /* IE10 */
  -webkit-box-flex: 25%;
          flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */